{% extends "base.html" %}

{% load widget_tweaks %}
{% block content %}
 <div class="container">
    <br>
        <div class="row">
            <div class="col">
                <h3>Event</h3>
            </div>
            <div class="col text-right">
                 <a class="btn btn-success" href="{% url "event:create_event" %}">Add Event</a>
            </div>


            <table class="table">
                <thead>
                    <tr>
                        <th>Contact</th>
                        <th>Date</th>
                        <th>Note</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{event.contact.last_name}}, {{event.contact.first_name}}</td>
                        <td>{{event.date}}</td>
                        <td>{{event.note}}</td>
                        <td>{{event.get_status_display}}</td>
                        <td><a class="btn btn-success" href="{% url "event:update_event" pk=event.id%}">Edit Event</a></td>
                        <td><a class="btn btn-success" href="{% url "event:delete_event" pk=event.id%}">Delete Event</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
{% endblock %}